 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/27bd8e761ae1d5bf8cf0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 273px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 49px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 49px auto 0;
}

.u-section-1 .u-countdown-1 {
  margin: 41px auto 60px 408px;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 230px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 36px;
    margin-right: 229px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 47px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 36px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 226px;
    margin-left: 218px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 40px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 40px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 163px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 36px;
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 44px;
    margin-left: 27px;
    margin-right: 27px;
  }
} .u-section-2 {
  min-height: 470px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 476px;
  background-image: url("images/7934cc18598f96d1cf9e.jpeg");
  background-position: 50% 37.31%;
}

.u-section-2 .u-container-layout-1 {
  padding: 5px 30px 30px;
}

.u-section-2 .u-image-2 {
  min-height: 476px;
  background-image: url("images/593fcfe95b7e9420cd6f.jpeg");
  background-position: 50% 0%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 476px;
  background-image: url("images/ad0bf12c64bbabe5f2aa.jpeg");
  background-position: 50% 40.57%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 386px;
  }

  .u-section-2 .u-image-1 {
    min-height: 393px;
  }

  .u-section-2 .u-image-2 {
    min-height: 393px;
  }

  .u-section-2 .u-image-3 {
    min-height: 393px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 294px;
  }

  .u-section-2 .u-image-1 {
    min-height: 301px;
  }

  .u-section-2 .u-image-2 {
    min-height: 301px;
  }

  .u-section-2 .u-image-3 {
    min-height: 301px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1347px;
  }

  .u-section-2 .u-image-1 {
    min-height: 677px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 677px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 677px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 845px;
  }

  .u-section-2 .u-image-1 {
    min-height: 426px;
  }

  .u-section-2 .u-image-2 {
    min-height: 426px;
  }

  .u-section-2 .u-image-3 {
    min-height: 426px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 692px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-image-1 {
  min-height: 572px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/cfb5009095075a590316.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 55px;
}

.u-section-3 .u-shape-1 {
  width: 79px;
  height: 105px;
  margin: 135px auto 0 85px;
}

.u-section-3 .u-shape-2 {
  width: 79px;
  height: 105px;
  margin: -105px 85px 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 22px auto 0 85px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: -28px 85px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 35px auto 0 60px;
}

.u-section-3 .u-text-4 {
  margin: -50px 35px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 472px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 52px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: 46px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 61px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 46px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 25px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-3 .u-image-1 {
    min-height: 362px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 12px;
    margin-right: 108px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 103px;
    margin-right: 107px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -202px;
    margin-right: 106px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 192px;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -218px;
    margin-right: 80px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 175px;
    margin-right: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-3 .u-image-1 {
    min-height: 543px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 80px;
    margin-right: auto;
    margin-left: 67px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -105px;
    margin-right: 90px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 67px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -28px;
    margin-right: 93px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 40px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-3 .u-image-1 {
    min-height: 342px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 305px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 44px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: 45px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 43px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 44px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 17px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -50px;
    margin-right: 0;
  }
}